<div class="container p-5">
  <h2 class="mb-5"> Add a new Bookmark </h2>

  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie, collection: Movie.all, label: "Select a movie" %>
    <%= f.input :comment, label: "Add you comment (min. 6 characters)"%>
    <%= f.submit class:"btn-flat", label: "Add the bookmark"%>
  <% end %>

</div>
